@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
/* font-family: 'Inconsolata', monospace;
   font-family: 'Montserrat Subrayada', sans-serif;
   font-family: 'Open Sans', sans-serif; */

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('../images/background/background3.jpg') center center no-repeat;
  background-size: cover;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-bottom: .5px #888888 solid;
}

.site-heading {
  font-size: 1.5em;
}

.navbar-right {
  font-size: 1.3em;
}

h1 {
  font-size: 5em;
}

.homepage-underline-long {
  width: 80%;
  color: orange;
  opacity: .2;
}

.homepage-underline-short {
  width: 60%;
  color: #888888;
  opacity: .2;
}

input {
  opacity: 0.1;
  border: 1px solid #000;
}

/* input:hover {
  opacity: 0.2;
  background-color: #787170;
  border: 1px solid #FFF;
} */

input:focus {
  border: 1px solid #FFF;
  color: #FFF;
}

.title-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.subscribe-text {
  margin: 10px 0 15px 0;
  padding: 5px;
}

.subscribe-button {
  margin: auto;
  padding: auto;
}

footer {
  margin-bottom: 10px;
  text-align: center;
}

.socialmedia-icon {
  height: 40px;
  width: 40px;
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .navbar {
     background: rgba(0,0,0,.8);
     opacity: .8;
     border-bottom: .5px #888888 solid;
  }

  .navbar-toggle {
    background-color: transparent;
  }

  h1 {
    font-size: 4em;
  }

  .title-center {
    width: 85%;
  }
}
